/* HERO STYLE */

#b1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.subtitle {
    color: var(--clr-light);
    font-size: 2.5rem;
    text-shadow: var(--h2-shadow);
}

#f2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 3.7em 0;
}

h1 {
    font-size: 2.8rem;
    color: var(--clr-accent);
    text-shadow: 1px 1px 0px var(--clr-secondary),
    1px 2px 0px var(--clr-secondary),
    1px 3px 0px var(--clr-secondary),
    1px 4px 0px var(--clr-light),
    1px 5px 0px var(--clr-light),
    1px 6px 0px var(--clr-light),
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

#f2 h2 {
    font-size: 1.5rem;
    text-shadow: none;
}


/* SKILLS SECTION STYLE */

#b2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
  
#f3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    justify-content: center;
    text-align: center;
}
  
.box-pa {
    background-image: paint(pixelbox);
    display: inline-block;
    --pixelbox-border: 3px;
    --pixelbox-border-color: #000000;
    --pixelbox-background-shadow-border: 6px;
    --pixelbox-border-radius: 7px;
    --pixelbox-background-shadow-position: bottom-right; 
}
  
.medal {
    width: 6em;
    filter: drop-shadow(1px 3px 2px grey);
}
  
.medal-content {
    text-align: center;
    position: relative;
    padding: 3em 1em;
    transition: transform 3s;
    transform-style: preserve-3d;
    width: 100%;
    --pixelbox-background-color: lightgray;
}
  
.medal:hover .medal-content {
    transform: rotateY(.5turn);
}
  
.front-medal, .back-medal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.front-medal::before {
    content: '';
    position: absolute;
    background-image: paint(pixelbox);
    transform: translateZ(0.5rem);
    --spacer: 0.7rem;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border-radius: 42%;
    border: 2px solid currentColor;
    box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
    --pixelbox-background-color: #EEEFF4;
}
  
.skill-icon {
    width: 3em;
    transform: translateZ(1.2rem); 
    padding: 2.5px;
}
  
.back-medal {
    transform: rotateY(.5turn);
    color: var(--clr-light);
    --pixelbox-background-shadow-border: 6px;
    --pixelbox-background-shadow-position: bottom-right; 
}
  
.skill-title {
    transform: translateZ(1rem);
    font-size: 1.2rem;
    line-height: 1.6;
}


/* SECTION PROYECTS STYLE */

#b3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
  
#f4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.proyects-container .box-pa {
    --pixelbox-border-radius: 0;
}

.proyect{
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.proyect-frame {
    width: 15em;
    filter: drop-shadow(1px 3px 2px grey);
    --pixelbox-background-color: #6A3c20 ;
    --pixelbox-background-shadow-border: 3px;
    --pixelbox-background-shadow-color: #592E0B;
}
  
.proyect-content {
    text-align: center;
    position: relative;
    padding: 6em 1em;
    width: 100%;
} 
  
.proyect-content::before {
    content: '';
    position: absolute;
    background-image: paint(pixelbox);
    transform: translateZ(0.5rem);
    --spacer: 0.7rem;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 2px solid currentColor;
    box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
}
  
.proyect-img {
    width: 3em;
    transform: translateZ(1.2rem); 
    padding: 2.5px;
}
  
.proyect-description {
    line-height: 1.6;
    text-align: justify;
    margin: 1em;
}

.proyect h3 {
    font-family: "MonaspaceKrypton";
}

/* CONTACT SECTION STYLE */

#f7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}

.form-container {
    width: 90%;
}