:root {
    --clr-light: #0d0210;
    --clr-dark: #fffbff;
    --clr-primary: #c9b7c7;
    --clr-secondary: #4d3147;
    --clr-accent: #866a80;
    --clr-backbody: #d7fffe;
    --clr-shadow1: #10101080;
    --clr-shadow2: #10101066;
    --clr-shadow3: #1010104D;
    --clr-shadow4: #10101033;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SHPinscher";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/SHPinscher-Regular.otf") format("truetype");
}

@font-face {
    font-family: "MonaspaceKrypton";
    src: url("fonts/MonaspaceKrypton-SemiBold.woff");
}


body {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: "SHPinscher", serif, sans-serif;
    background-color: var(--clr-backbody);
    overflow: hidden;
}

h1, h2 {
    text-align: center;
    font-family: "MonaspaceKrypton";
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

.darkmode {
    --clr-light: #fffbff;
    --clr-dark: #3B3E4F;
    --clr-primary: #4d3147;
    --clr-secondary: #c9b7c7;;
    --clr-accent: #866a80;
    --clr-shadow1: #EFEFEF80;
    --clr-shadow2: #EFEFEF66;
    --clr-shadow3: #EFEFEF4D;
    --clr-shadow4: #EFEFEF33;

    --clr-backbody: #0d0210;
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

/* ADITTIONAL NAVIGATION BUTTONS */

.additional-navigation {
    width: 100%;
    height: 5em;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    gap: 1em;
    top: 0;
}

.nav-btn {
    display: flex;
    width: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    color: var(--clr-light);
}

/* LANGUAGE BUTTON */

#lang-btn {
    width: 3rem;
    height: 3rem;
    background-image: paint(pixelbox);
    display: inline-block;
    background-color: transparent;
    font-family: "MonaspaceKrypton";
    font-size: 1rem;
    --pixelbox-border: 3px;
    --pixel-background-color: var(--clr-dark);
    --pixelbox-border-color: #000000;
    --pixelbox-background-shadow-border: 3px;
    --pixelbox-border-radius: 3px;
    --pixelbox-background-shadow-position: bottom-right; 
}

#lang-btn:hover {
    --pixelbox-background-color: var(--clr-secondary);
    --pixelbox-background-shadow-color: var(--clr-primary);
    color: var(--clr-dark);
    cursor: pointer;
}

/* DARK/LIGHT MODE BUTTON */

#candle-btn {
    position: relative;
    cursor: pointer;
}

.candle {
    z-index: 100;
	position: absolute;
	width: 1rem;
	height: 1rem;
	background: #fff;
	border-radius: 3px;
	box-shadow: inset -10px 0 0 0 #E0E5FF;
    bottom: 1rem;
}

.shadow {
    position: absolute;
    width: 2rem;
    height: 8px;
    background: var(--clr-accent);
    bottom: -8px;
    left: -0.5rem;
    border-radius: 3px;
}

.wick {
    position: absolute;
    width: 4px;
    height: 0.5rem;
    top: -8px;
    left: 0.4rem;
    background: #AD88A9;
    border-radius: 2px 2px 0 0;
}

.flame-active {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: -1.2rem;
    left: 0;
    background: #FFAD00;
    border-radius: 8px 8px 8px 8px / 20px 20px 8px 8px;
    animation: 
        wind 15s ease-in-out infinite, 
        size 20s ease-in-out infinite, 
        flickr 5s ease-in-out infinite;
    transform-origin: 50% 100%;
}

        @keyframes wind {
        0%, 22%, 49%, 62%, 81%, 100% {
            border-radius: 2px 14px 8px 8px / 20px 20px 8px 8px;
        }
        14%, 32%, 56%, 70%, 89% {
            border-radius: 14px 2px 8px 8px / 20px 20px 8px 8px;
        }
        }

        @keyframes size {
        0%, 22%, 49%, 62%, 81%, 100% {
            transform: scale(1,1);
        }
        14%, 32%, 56%, 70%, 89% {
            transform: scale(0.9, 1.2);
        }
        }

        @keyframes flickr {
        0%, 22%, 49%, 62%, 81%, 100% {
            box-shadow: 0 0 20px 0 rgba(255,202,0,0.7);
        }
        14%, 32%, 56%, 70%, 89% {
            box-shadow: 0 0 20px 0 rgba(255,202,0,.8);
        }
}

/* BOOK */

.book {
    position: relative;
    width: 27em;
    height: 32em;
    color: var(--clr-light);
    transform-style: preserve-3d;
    transform: rotateX(25deg) rotateY(0deg) rotateZ(-10deg);
    transition: 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: var(--foreground);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.side {
    width: 4em;
    height: 32em;
    background: #473844;
    position: absolute;
    left: -4em;
    top: 0;
    transform-origin: 100% 100%;
    transform: rotateY(-85deg) rotateX(0deg);
}

.book-content {
    width: 26.8em;
    height: 4em;
    background: #e2e2e2;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 100% 100%;
    transform: rotateX(80deg);
}

.bottom-cover {
    width: 27.5em;
    height: 32em;
    background-color: var(--clr-accent);
    position: absolute;
    top: -0.2em;
    left: -0.4em;
    transform: translateZ(-4em);
}

.book-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    position: absolute;
    width: 90%;
    width: calc(100% - 3em);
    height: 90%;
    height: calc(100% - 3em);
    border: 2em solid #eee;
    border-style: double;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    gap: 2em;
}

.cover_img {
    width: 65%;
     color: var(--clr-dark);
}

/* PAPER FLIP EFFECT */

.flipped .front,
.flipped .back {
    transition: 1s;
    transform: rotateY(-180deg);
}

/* CONTROLLER BUTTONS */

#prev-page {
    visibility: hidden;
    position: absolute;
    width: 1rem;
    height: 100%;
    margin: 0 -100%;;
    background-color: transparent;
    z-index: 90;
    cursor: pointer;
    transition: transform 0.5s;
}

#prev-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px; 
    height: 100%;
    width: 4px; 
    background: var(--clr-secondary);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5); 
    z-index: -1;
    transition: width 0.3s ease; 
}

#prev-page:hover::before {
    width: 0.5rem; 
}


#next-page {
    position: absolute;
    width: 1rem;
    height: 100%;
    background-color: transparent;
    z-index: 90;
    left: -1rem;
    top: 0;
    margin-left: 100%;
    cursor: pointer;
    transition: transform 0.5s;
}

#next-page::before {
    content: '';
    position: absolute;
    top: 0;
    right: -4px;
    height: 100%;
    width: 4px;
    background: var(--clr-secondary);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: width 0.3s ease;
}

#next-page:hover::before {
    width: 0.5rem;
}

/* PAPER STACK ORDER */

#p1 {
    z-index: 7;
}

#p2 {
    z-index: 6;
}

#p3 {
    z-index: 5;
}

#p4 {
    z-index: 4;
}

#p5 {
    z-index: 3;
}

#p6 {
    z-index: 2;
}

#p7 {
    z-index: 1;
}

/* NAV STYLING*/

nav {
    font-family: "MonaspaceKrypton", serif, sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    margin: -3.1em;
    display: flex;
    gap: 1em;
}

.row {
    width: 3.125rem;
    height: 6.4rem;
}

.marker {
    display: flex;
    justify-content: center;
    height: 3.125rem;
    position: relative;
    perspective: 6rem;
    transform-style: preserve-3d;
    background-color: red;
}

.marker:hover {
    box-shadow: 0.1em -0.1em 0.375em 0.0625em var(--clr-secondary);
}

.nav-icon {
    width: 2.2rem;
}
.nav-item {
    display: flex;
    justify-content: center;
}

#red {
    background-color: #FF1E1C;
}

#blue {
    background-color: #0071B3;
}

#yellow {
    background-color: #F9E701;
}

#green {
    background-color: #009055;
}

@keyframes goDown {
    0% {
    top: 1rem;
    }
    100% {
    top: 3.5rem;
    };
};

/* PAGES STYLING */

.header-section {
    display: flex;
    gap: 1em;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    font-size: 1.2rem;
}

.avatar-img {
    width: 8em;
}

h2 {
    font-size: 2em;
    text-shadow: 1px 1px 0px var(--clr-accent),
    1px 2px 0px var(--clr-accent),
    1px 3px 0px var(--clr-accent),
    1px 4px 0px var(--clr-accent),
    1px 5px 0px var(--clr-accent),
    1px 6px 0px var(--clr-accent),
    1px 10px 5px var(--clr-shadow1),
    1px 15px 10px var(--clr-shadow2),
    1px 20px 30px var(--clr-shadow3),
    1px 25px 50px var(--clr-shadow4);
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7 {
    border-right: 3px solid powderblue;
}


/* FRONT COVER STYLE */

#f1 {
    background-color: var(--clr-accent);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--clr-dark);
}

/* HERO STYLE */

#b1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

#f2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 3em 0;
}

h1 {
    font-size: 2.8rem;
    color: var(--clr-accent);
    text-shadow: 1px 1px 0px var(--clr-secondary),
    1px 2px 0px var(--clr-secondary),
    1px 3px 0px var(--clr-secondary),
    1px 4px 0px var(--clr-light),
    1px 5px 0px var(--clr-light),
    1px 6px 0px var(--clr-light),
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}


#f2 h2 {
    font-size: 1.5rem;
    text-shadow: none;
}


/* SKILLS SECTION STYLE */

#b2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
  
#f3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    justify-content: center;
    text-align: center;
}
  
.box-pa {
    background-image: paint(pixelbox);
    display: inline-block;
    --pixelbox-border: 3px;
    --pixelbox-border-color: #000000;
    --pixelbox-background-shadow-border: 6px;
    --pixelbox-border-radius: 7px;
    --pixelbox-background-shadow-position: bottom-right; 
}
  
.medal {
    width: 6em;
    filter: drop-shadow(1px 3px 2px grey);
}
  
.medal-content {
    text-align: center;
    position: relative;
    padding: 3em 1em;
    transition: transform 3s;
    transform-style: preserve-3d;
    width: 100%;
    --pixelbox-background-color: lightgray;
}
  
.medal:hover .medal-content {
    transform: rotateY(.5turn);
}
  
.front-medal, .back-medal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.front-medal::before {
    content: '';
    position: absolute;
    background-image: paint(pixelbox);
    transform: translateZ(0.5rem);
    --spacer: 0.7rem;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border-radius: 42%;
    border: 2px solid currentColor;
    box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
    --pixelbox-background-color: #EEEFF4;
}
  
.skill-icon {
    width: 3em;
    transform: translateZ(1.2rem); 
    padding: 2.5px;
}
  
.back-medal {
    transform: rotateY(.5turn);
    color: var(--clr-light);
    --pixelbox-background-shadow-border: 6px;
    --pixelbox-background-shadow-position: bottom-right; 
}
  
.skill-title {
    transform: translateZ(1rem);
    font-size: 1.2rem;
    line-height: 1.6;
}


/* SECTION PROYECTS STYLE */

#b3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
  
#f4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.proyects-container .box-pa {
    --pixelbox-border-radius: 0;
}

.proyect{
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.proyect-frame {
    width: 15em;
    filter: drop-shadow(1px 3px 2px grey);
    --pixelbox-background-color: #6A3c20 ;
    --pixelbox-background-shadow-border: 3px;
    --pixelbox-background-shadow-color: #592E0B;
}
  
.proyect-content {
    text-align: center;
    position: relative;
    padding: 6em 1em;
    width: 100%;
} 
  
.proyect-content::before {
    content: '';
    position: absolute;
    background-image: paint(pixelbox);
    transform: translateZ(0.5rem);
    --spacer: 0.7rem;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 2px solid currentColor;
    box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
}
  
.proyect-img {
    width: 3em;
    transform: translateZ(1.2rem); 
    padding: 2.5px;
}
  
.proyect-description {
    line-height: 1.6;
    text-align: justify;
    margin: 1em;
}

.proyect h3 {
    font-family: "MonaspaceKrypton";
}

/* CONTACT SECTION STYLE */

#f7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}

.form-container {
    width: 90%;
}