* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SHPinscher";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/SHPinscher-Regular.otf") format("truetype");
}

@font-face {
    font-family: "MonaspaceKrypton";
    src: url("fonts/MonaspaceKrypton-SemiBold.woff");
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SHPinscher", serif, sans-serif;
    background-color: powderblue;
}

h1, h2 {
    text-align: center;
    font-family: "MonaspaceKrypton";
}

a {
    text-decoration: none;
}

/* Book */

.book {
    position: relative;
    width: 27em;
    height: 36em;
    color: #0d0210;
    transform-style: preserve-3d;
    transform: rotateX(25deg) rotateY(0deg) rotateZ(-10deg);
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.side {
    width: 4em;
    height: 36em;
    background: #473844;
    position: absolute;
    left: -4em;
    top: 0;
    transform-origin: 100% 100%;
    transform: rotateY(-85deg) rotateX(0deg);
}

.book-content {
    width: 26.8em;
    height: 4em;
    background: #e2e2e2;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 100% 100%;
    transform: rotateX(80deg);
}

.bottom-cover {
    width: 27em;
    height: 36em;
    background-color: #866a80;
    position: absolute;
    top: -0.2em;
    left: -0.4em;
    transform: translateZ(-4em);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}


.book-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    position: absolute;
    width: 90%;
    width: calc(100% - 3em);
    height: 90%;
    height: calc(100% - 3em);
    border: 2em solid #eee;
    border-style: double;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    gap: 2em;
    color: #fffbff;
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 7;
}

#p2 {
    z-index: 6;
}

#p3 {
    z-index: 5;
}

#p4 {
    z-index: 4;
}

#p5 {
    z-index: 3;
}

#p6 {
    z-index: 2;
}

#p7 {
    z-index: 1;
}

/* NAV STYLING*/

nav {
    font-family: "MonaspaceKrypton", serif, sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    margin: -3.5em;
    overflow: hidden;
    display: flex;
    gap: 1em;
}

.row {
    width: 50px;
    margin: 5px auto;
    background-color: red;
    border: 1px solid black;
}

.markdown {
    height: 100px;
    position: relative;
    background-color: blue;
    perspective: 6rem;
    transform-style: preserve-3d
}
  
  .markdown:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    top: 133px;
    left: 7px;
    background-color: blue;
    transform: rotate(45deg)
}

.markdown:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #4d3147;
}

.nav-icon {
    width: 2.2rem;
}
.nav-item {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    align-content: center;
}

.red {
    background-color: #FF1E1C;
    transform: translateZ(-1rem);
}

.blue {
    background-color: #0071B3;
    transform: translateZ(-2rem);
}

.yellow {
    background-color: #F9E701;
    transform: translateZ(-3rem);
}

.green {
    background-color: #009055;
    transform: translateZ(-4rem);
}

/* PAGES STYLING */

.header-section {
    display: flex;
    gap: 1em;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    font-size: 1.2rem;
}

.avatar-img {
    width: 8em;
}

h2 {
    font-size: 2em;
    text-shadow: 1px 1px 0px #866a80,
    1px 2px 0px #866a80,
    1px 3px 0px #866a80,
    1px 4px 0px #866a80,
    1px 5px 0px #866a80,
    1px 6px 0px #866a80,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7 {
    border-right: 3px solid powderblue;
}


/* FRONT COVER STYLE */

#f1 {
    background-color: #866a80;
    font-weight: bold;
    font-size: 1.2em;
    color: #fffbff;
}

/* HERO STYLE */

#f2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 3em auto;
}

h1 {
    
    text-shadow: 2px 2px 0px #FF1E1C ,
    4px 4px 0px #009055,
    6px 6px 0px #F9E701,
    8px 8px 0px #0071B3;
}


#f2 h2 {
    font-size: 1.5rem;
    text-shadow: none;
}


/* SKILLS SECTION STYLE */

#b2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
  
#f3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    justify-content: center;
    text-align: center;
}
  
.box-pa {
    background-image: paint(pixelbox);
    --pixelbox-border: 3px;
    --pixelbox-border-color: #000000;
    display: inline-block;
    --pixelbox-background-shadow-border: 6px;
    --pixelbox-border-radius: 7px;
    --pixelbox-background-shadow-position: bottom-right; 
}
  
.medal {
    width: 6em;
    filter: drop-shadow(1px 3px 2px grey);
}
  
.medal-content {
    text-align: center;
    position: relative;
    padding: 3em 1em;
    transition: transform 3s;
    transform-style: preserve-3d;
    width: 100%;
    --pixelbox-background-color: lightgray;
}
  
.medal:hover .medal-content {
    transform: rotateY(.5turn);
}
  
.front-medal, .back-medal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.front-medal::before {
    content: '';
    position: absolute;
    background-image: paint(pixelbox);
    transform: translateZ(0.5rem);
    --spacer: 0.7rem;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border-radius: 42%;
    border: 2px solid currentColor;
    box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
    --pixelbox-background-color: #EEEFF4;
}
  
.skill-icon {
    width: 3em;
    transform: translateZ(1.2rem); 
    padding: 2.5px;
}
  
.back-medal {
    transform: rotateY(.5turn);
    color: #333;
    --pixelbox-background-shadow-border: 6px;
    --pixelbox-background-shadow-position: bottom-right; 
}
  
.skill-title {
    transform: translateZ(1rem);
    font-size: 1.2rem;
    line-height: 1.6;
}


/* SECTION PROYECTS STYLE */

#b3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
  
#f4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.proyects-container .box-pa {
    --pixelbox-border-radius: 0;
}

.proyect{
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.proyect-frame {
    width: 15em;
    filter: drop-shadow(1px 3px 2px grey);
    --pixelbox-background-color: #6A3c20 ;
    --pixelbox-background-shadow-border: 3px;
    --pixelbox-background-shadow-color: #592E0B
}
  
.proyect-content {
    text-align: center;
    position: relative;
    padding: 6em 1em;
    width: 100%;
} 
  
.proyect-content::before {
    content: '';
    position: absolute;
    background-image: paint(pixelbox);
    transform: translateZ(0.5rem);
    --spacer: 0.7rem;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 2px solid currentColor;
    box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
}
  
.proyect-img {
    width: 3em;
    transform: translateZ(1.2rem); 
    padding: 2.5px;
}
  
.proyect-description {
    line-height: 1.6;
    text-align: justify;
    margin: 1em;
}

.proyect h3 {
    font-family: "MonaspaceKrypton";
}

/* CONTACT SECTION STYLE */

#f7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}

.form-container {
    width: 90%;
}

#b1 {
    background-color: #866a80;
}

.cover_img {
    width: 65%;
     color: #fffbff;
}
